<div class="pt-10 px-0">
  <t-container>
    <t-clickable-card
      [image]="'https://www.oercommons.org/editor/images/26644'"
      [alt]="'Pagpapakilala sa Sikolohiya'"
      [title]="'Pagpapakilala sa Sikolohiya'"
      [link]="'/lecture-1'"
    ></t-clickable-card>
    <t-clickable-card
      [image]="
        'https://web-cdn.meridianuniversity.edu/site-content-images/content-library/how-positivism-shaped-our-understanding-of-reality-image-two.webp'
      "
      [alt]="'Perspektibong Dekolonyal at Kritikal'"
      [title]="'Perspektibong Dekolonyal at Kritikal'"
      [link]="'/lecture-2'"
    ></t-clickable-card>
  </t-container>
</div>
