<t-section>
  <t-heading [HeadingType]="'h1'"
    >Perspektibong Dekolonyal at Kritikal</t-heading
  >
  <t-section>
    <t-heading [HeadingType]="'h2'"
      >Limitasyon ng Laboratoryo at Positibismo</t-heading
    >

    <t-heading [HeadingType]="'h3'">Positibismo</t-heading>
    <t-text>
      Sinasalamin ang paniniwalang mayroong "iisang reyalidad" na maaaring
      matuklasan ng mananaliksik. Upang maging ganap na agham ang sikolohiya
      marapat na sundin nito ang paradigm ng mga natural na agham
    </t-text>
    <t-section>
      <t-list>
        <li>Mahalaga ang objectivity</li>
        <li>Sistemaktiko at detalyadong obserbasyon</li>
        <li>Eksperimentasyon</li>
        <li>Mapapatunayan ang katotohanan ng mga kaalaman</li>
      </t-list>
    </t-section>
  </t-section>

  <t-section>
    <t-heading [HeadingType]="'h2'"
      >Mga Hamon sa Positibistik na Sikolohiya</t-heading
    >
    <t-text
      >Masyadong kumplikado ang pagkilos at pag-iisip para ikulong sa
      laboratoryo</t-text
    >

    <t-section>
      <div class="flex flex-col border-4 border-black m-4 p-4 size-11/12">
        <t-heading [HeadingType]="'h3'"
          >May paunang pagpapalagay na sa kung ano ang aasahang
          mangyaya</t-heading
        >
        <t-text class="pt-3"
          >Ito ay mga sanhi at bunga. Awtomatiko at nag-iisa lang ba ang naging
          tugon ng tao sa mga nangyayari sa kanya?</t-text
        >
      </div>

      <div class="flex flex-col border-4 border-black m-4 p-4 size-11/12">
        <t-heading [HeadingType]="'h3'">Sistematiko</t-heading>
        <t-text class="pt-3"
          >Ito ay dapat mayroong malinaw na metodo.Palagi bang tiyak na pagkilos
          o pag-iisip ang layon nating mahanap mula sa ating mga
          pag-aaral?</t-text
        >
      </div>

      <div class="flex flex-col border-4 border-black m-4 p-4 size-11/12">
        <t-heading [HeadingType]="'h3'"
          >Mataas ang kontrol sa iba't ibang aspekto ng eksperimento</t-heading
        >
        <t-text class="pt-3"
          >Ito ay dapat walang puwang ang ibang salik. Hiwalay ba ang pagkilos
          at pag-iisip ng tao sa kontekstong kanyang ginagalawan?</t-text
        >
      </div>

      <div class="flex flex-col border-4 border-black m-4 p-4 size-11/12">
        <t-heading [HeadingType]="'h3'"
          >Maaaring asahan ang halos pare-parehong resulta sa sa iba't ibang
          pagkakataon</t-heading
        >
        <t-text class="pt-3"
          >Ito ay dapat tama at angkop para sa lahat ng pagkakataon. Gaano tayo
          kasigurong mag-iisip at kililos ang iba't ibang tao sa pare-parehong
          paraan?</t-text
        >
      </div>
    </t-section>
  </t-section>
  <t-heading [HeadingType]="'h1'">Ang Sikolohiya ay Weird</t-heading>
  <t-section>
    <t-section>
      <t-heading [HeadingType]="'h2'">Functionalism</t-heading>
      <t-text
        >Ang functionalism sa sikolohiya, na hinubog ng kulturang
        indibidwalistik, ay nakatuon sa pag-aaral ng indibidwal. Dahil dito,
        binibigyang pansin nito kung paano kumikilos at nag-iisip ang tao sa
        iba't ibang konteksto.</t-text
      >
    </t-section>
    <t-section>
      <t-heading [HeadingType]="'h2'"
        >Mga Isyu sa pagka-weird ng sikolohiya</t-heading
      >
      <t-list>
        <li>Positibismo - iisang reyalidad</li>
        <li>
          Unibersalismo - naaangkop ang mga resulta sa lahat ng tao, ano man ang
          kanyang konteksto
        </li>
        <li>Psychological Imperialism</li>
        <li>Gaya-gayang sikolohiya</li>
      </t-list>
    </t-section>
    <t-section>
      <t-heading [HeadingType]="'h2'">
        Implikasyon nito sa Sikolohiya
      </t-heading>
      <t-list>
        <li>Mga paksa at paraan ng pagsasaliksik</li>
        <li>Mga karanasang tuon ng sikolohiya</li>
        <li>Pagkakaunawa ng tao sa kanyang sarili</li>
      </t-list>
    </t-section>
  </t-section>
</t-section>
