<t-section class="flex justify-center">
  <t-heading [HeadingType]="'h1'"> Social Science 1: Unessay 2 </t-heading>
</t-section>

<t-section>
  <t-text>
    When I was in Junior High School (JHS) our school participates in the
    Division Science and Technology Fair (DSTF). Our class was divided into four
    groups, each tasked to present a topic at the conference. The topics mostly
    focused on hard sciences, from analyzing egg shells as a component in
    creating cement blocks to creating electricity through nanotechnology. Our
    objective was to qualify for the Regional or National Science and Technology
    Fair (RSTF/NSTF). Unfortunately, our team did not qualify for the RSTF.
  </t-text>
</t-section>

<t-section>
  <t-text>
    Our study focused on creating a Triboelectric Nanogenerator from Milkfish
    scales. The study aimed to provide locals living near coastal waters with
    access to electricity using common materials like copper wire, plastic
    sheets, aluminum foil and fish scales. Although we did not harness large
    amounts of electricity, we proved that fish scales as main components of a
    nanogenerator are capable of generating at least 100 mV ofelectricity.
    Future researchers can expand and find better ways to improve our model and
    increase voltage output.
  </t-text>
</t-section>

<t-section>
  <t-text>
    Over two years of conducting this research, we upheld ethical standards as
    researchers by focusing on a solution to an existing problem in our society,
    which was to provide sustainable energy to local communities. We considered
    the availability of materials, and ensured that our project is replicable by
    the locals. However, after learning about phronetic social science, I
    realized that having more engagement with the community and scientific
    experts could have provided more insights and solutions that may have led to
    better results or solutions.
  </t-text>
</t-section>

<t-section>
  <t-text>
    During the face-to-face lecture I emphasized that my objective is to take
    part in solving the Disaster Risk Reduction Management issues. One of the
    solutions that I was able to formulate was creating a web application for
    conducting rescue operations during calamities. This topic is relevant in
    our time, and I am currently doing this project in our department. When this
    project gets deployed in a bigger scale we hope that this will reduce the
    casulaties caused by natural hazards, like floods.
  </t-text>
</t-section>

<t-section>
  <t-text>
    This module, highlighted the importance of community involvement in the
    research process. Instead of working solely with laboratory resources, we
    should also consider the perspectives and feedbacks of the constituents
    involved. Although our study did not make an immediate impact, it proved
    that with dedication and focus, we could contribute to a broader
    conversation about sustainable energy for the community.
  </t-text>
</t-section>

<t-section>
  <t-container>
    <div
      *ngFor="let image of images"
      class="flex justify-center m-2 p-3 container border-4 border-black w-96"
    >
      <img
        [src]="'https://drive.google.com/thumbnail?id=' + image"
        alt=""
        class="p-3 size-full"
      />
    </div>
  </t-container>
</t-section>

<t-section>
  <hr class="h-px my-5 bg-gray-100 border-0 rounded dark:bg-gray-700" />
  <t-text>
    This mini webpage is an integration and upskilling of my learnings in
    Computer Science. The information provided in this project highlights the
    story of our Junior High School research project, and entry to the Division
    Science and Technology Fair (DSTF). The project's objectives and findings
    are showcased, detailing the study on finding a new sustainable source of
    electrical energy. In addition, it discusses the understanding and emphasis
    on the importance of phroneic social science in conducting scientific
    research. Phronetic social science emphasizes the need to understand the
    social context and implications of scientific research. It emphasizes that
    gathering feedback and insights of the community is vital in a successful
    and impactful solution to a societal issue. Through this activity, I was
    able to demonstarate my technical skills and build social awareness in the
    community. I hope this urges other people to make use of their technical
    expertise with social responsibility to create a more sustainable future.
    Small changes are still changes
  </t-text>
  <hr class="h-px my-5 bg-gray-100 border-0 rounded dark:bg-gray-700" />
  <t-text class="px-1">
    This activity made use of AI to check the grammar and concept structure.
  </t-text>
</t-section>
