<t-section>
  <t-heading [HeadingType]="'h1'">Pagpapakilala sa Sikolohiya</t-heading>
  <t-section>
    <t-heading [HeadingType]="'h2'">Sikolohiya</t-heading>
    <t-text>
      Ito ang siyentipikong pag-aaral sa pagkilos, pag-iisip at mga karanasan ng
      tao. Ang <b>Affect, Behavior at Cognition</b> ang sumasalamin sa
      perspektibo ng sikolohiya.
    </t-text>
  </t-section>

  <t-section>
    <t-heading [HeadingType]="'h2'">Kasaysayan</t-heading>
    <t-list>
      <li>
        145 na taon palang mula noong maging hiwalay na disiplina ang sikolohiya
      </li>
      <li>Noong 1879 itinatag ang kauna-unahang laboratoryo sa sikolohiya</li>
    </t-list>
  </t-section>
</t-section>

<t-section>
  <t-heading [HeadingType]="'h1'"
    >Pilosopikal at Pisyolohikal na Pinagmulan ng Sikolohiya</t-heading
  >
  <t-section>
    <t-text>
      Tinatanong na noon ang "Ano ang malay-tao (consciousness)?", "Ang tao ba
      ay ipinanganak na rasyunal o irrasyunal?" at "Mayroon ba talaga tayong
      free will?"
    </t-text>
    <br />
    <t-heading class="mt-10" [HeadingType]="'h2'"
      >Mga katanungang pilosopikal na may kinalaman sa sikolohiya</t-heading
    >
    <t-container>
      <t-text-card (clicked)="openModal(0)">
        <t-heading [HeadingType]="''"
          >Iisa lang ba ang karanasang mental at pisikal? Panno sila
          nauugnay?</t-heading
        >
      </t-text-card>
      <t-text-card (clicked)="openModal(1)">
        <t-heading [HeadingType]="''"
          >Nagmumula ba ang ating kaalaman sa ating kakayahanag magrason o sa
          ating mga karanasan?</t-heading
        >
      </t-text-card>
      <t-text-card (clicked)="openModal(2)">
        <t-heading [HeadingType]="''"
          >Ano ang mas maimpluwensiya: minanang katangian o
          kapaligiran?</t-heading
        >
      </t-text-card>
      <t-text-card (clicked)="openModal(3)">
        <t-heading [HeadingType]="''"
          >Tayo ba ang pumipili ng ating ikinikilos at iniisip? O kumkilos at
          nag-iisip ba tayo ayon sa batas ng kalikasan?</t-heading
        >
      </t-text-card>
      <t-text-card (clicked)="openModal(4)">
        <t-heading [HeadingType]="''"
          >Paano pinakamainam na aralin ang ating pag-iral: sa Pamamagitan ng
          paghahati-hati sa ating karanasan dito o sa pagtingin dito nang
          buo?</t-heading
        >
      </t-text-card>
    </t-container>

    <t-modal
      [isOpen]="isModalOpen"
      [modalTitle]="modalTitle"
      [modalContent]="modalContent"
      (close)="closeModal()"
    >
    </t-modal>

    <t-heading [HeadingType]="'h2'"
      >Pag-uunlad sa kaalamang pisyolohikal
    </t-heading>
    <t-section>
      <t-list>
        <t-list>
          <li>
            Guillotine: kagamitang ginagamit sa pagpatay noong dulo ng 1700s
            <t-list>
              <li>
                Nagtataka ang mga tao bakit gumagalaw pa rin ang katawan kahit
                napugot na ang ulo. May malay pa kaya ang tao sapagkat gumagalaw
                pa ang katawan?
              </li>

              <li>
                Si Bischoff naman titingnan at susuriin nya ang ulo ng taong
                napugutan sa pamamagitan ng mga tests. Tinitingnan if may reflex
                pa ang ulo
              </li>
              <li>
                Subalit, hindi talaga nagrespond yung ulo so nasa ulo ang malay
                ng tao. Ang inaakalang paggalaw ng katawan ay tinuring na mga
                involuntary movements matapos mamatay ang tao.
              </li>
            </t-list>
          </li>
        </t-list>
      </t-list>
    </t-section>
    <t-section>
      <t-heading [HeadingType]="'h3'">
        Involuntary reflex at papel ng utak at spinal cord sa paggalaw
      </t-heading>
      <t-list>
        <li>
          <t-heading [HeadingType]="''">Hermann Von Helmholtz</t-heading>
          <t-list>
            <li>
              Isang Aleman na pisyolohista. Pinag-aralan ang paningin at
              pandinig at gumawa ng teorya kung paano ito gumagana
            </li>
            <li>
              Nerve Impulse speed: pagsukat ng bilis ng dalay ng impormasyon;
              reaction time
            </li>
          </t-list>
        </li>
        <li>
          <t-heading [HeadingType]="''"
            >Phrenology ni Franz Josef Gall</t-heading
          >
          <t-list>
            <li>
              Phrenology: may mga faculty na matatagpuan sa iba't ibang bahagi
              ng utak ng tao. Dito nagmula ang interes ng functions ng bawat
              bahagi ng utak.
            </li>
            <li>
              Si Gall, pinapansin nya ang facial characteristics ng mga kaklase
              nya at doon n'ya narealize nya na luwa-mata ang mga magaling
              mag-memorize.
            </li>
            <li>
              Kung ano ang malaking parte ng utak ng tao naiuugnay ito na ito
              ang prominenteng characteristic ng tao. Subalit ito ay nadebunk
              na. Nalaman na hindi ito makatotothanan pero may ilan pa rin ang
              naniniwala rito.
            </li>
          </t-list>
        </li>
        <li>
          <t-heading [HeadingType]="''">Ablation ni Pierre Flourens</t-heading>
          <t-list>
            <li>Ito ang nagdebunk sa Phrenology ni Gall</li>
            <li>
              Ablations: Kusang sinisira ang ilang bahagi ng utak na sinabi ng
              phrenologist na may kinalaman sa partikular na gawain.
            </li>
            <li>
              <strong
                >Kung nasira ba ito, ito ba talaga yung maaapektuhan?</strong
              >
            </li>
          </t-list>
        </li>
      </t-list>
    </t-section>
  </t-section>
</t-section>

<t-section>
  <t-heading [HeadingType]="'h1'"
    >Maikling Kasaysayan at mga Kaisipan sa Sikolohiya
  </t-heading>

  <t-section>
    <t-container>
      <t-section class="col-span-2">
        <t-heading [HeadingType]="'h2'">Wilhelm Wundt</t-heading>
        <t-text class="p-2">
          Kinikilala siya bilang Father of Psychologya. Mas naging hayag ang
          kaniyang pagpapakilala sa disiplina ng sikolohiya. Isa sa mga pokus
          niya ay ang pisyolohikal na sikolohiya kung saan ginagamitan ng
          pisyolohikal na metodo ang mga bagay-bagay na nagpaimula sa
          eksperimental na sikolohiya. Ilan sa mga tinuruan ni Wundt ay sina
          James Cattell (Intelligence Testing) at si Edward Titchener
          (Structuralism).
        </t-text>
      </t-section>
      <t-card
        class="sm:ml-10 mt-10 justify-center"
        [src]="
          'https://encrypted-tbn3.gstatic.com/images?q=tbn:ANd9GcQ-venixITfmuCI-mBR888KG86TuMMCUGm0AiCwrGcErpE7XNrY'
        "
        [alt]="'Wilhelm Wundt'"
        [text]="'Wilhelm Wundt'"
      >
      </t-card>
    </t-container>
    <t-heading [HeadingType]="'h2'"
      >Dalawang tuon ng Pisyolohikal na sikolohiya</t-heading
    >
    <div class="lg:grid lg:grid-cols-2 flex flex-wrap sm:p-3">
      <div class="p-4 m-5 border-4 border-black">
        <t-heading [HeadingType]="'h2'"
          >Mga kagyat na karanasang malay sa tao
        </t-heading>
        <t-list>
          <li>Paggamit ng eksperimental na mga metodo sa laboratoryo</li>
          <li>
            Kagyat - immediate
            <t-list>
              <li>
                Hindi mo alam temperatura pero nararamdaman mo yung isang
                pangyayari. Base sa sensasyon
              </li>
              <li>
                Halimbawa: tinapat mo yung kamay mo sa aircon kaya naranasan mo
                agad ang lamig o buga ng aircon.
              </li>
              <li>
                Mas mahirap pag-aralan sapagkat mas nagiging subhektibo ang
                karanasan ng tao.
              </li>
            </t-list>
          </li>
          <li>
            Pinamamagitan - mediated
            <t-list>
              <li>
                Kailangan pa natin ng external reference upang mabigyan ng
                kabuluhan ang pangyayari.
              </li>
              <li>
                Halimbawa: tumingin ka sa LCD ng aircon para malaman kung
                malamig ang kuwarto. Binase mo sa temperatura.
              </li>
              <li>
                Mas madali pag-aralan ito sapagkat nakokontrol ang mga baryabol.
              </li>
            </t-list>
          </li>
          <li>
            Objective Introspection: pagsusuri sa sariling karanasan
            <t-list>
              <li>
                Naiiba ito sa introspection sa pilosopiya
                <t-list>
                  <li>
                    Faulty sa pag-aaral sa sikolohiya ng tao sapagkat faulty ang
                    memorya natin.
                  </li>
                  <li>
                    Posible na karanasan natin sa eksaktong moment di na katulad
                    sa introspect natin.
                  </li>
                </t-list>
              </li>
              <li>
                Kagyat na pagsusuri sa karanasan
                <t-list>
                  <li>
                    Habang nararanasan mo ang isang bagay roon mo lang din
                    susuriin ang pangyayari
                  </li>
                </t-list>
              </li>
              <li>Immediate experience ang pinag-aaralan dito</li>
            </t-list>
          </li>
        </t-list>
      </div>
      <div class="p-4 m-5 border-4 border-black">
        <t-heading [HeadingType]="'h2'">Mataas na prosesong mental</t-heading>
        <t-list>
          <li>
            Paggamit ng mga metodo sa labas ng laboratoryo
            <t-list>
              <li>
                Pag-aaral sa pagkatuto, pag-iisip, wika at epekto ng kultura
                <t-list>
                  <li>
                    Ang laking epekto ng kultura kasi mahirap kontrolin ang mga
                    nakakaapekto rito.
                  </li>
                  <li>Challenging ito kontrolin kasi subjective ito.</li>
                </t-list>
              </li>
              <li>
                Maghanap ng ibang metodo sa labas ng laboratoryo
                <t-list>
                  <li>Observational techniques</li>
                  <li>Kross-kultural na paghahambing</li>
                  <li>Historikal na pagsusuri</li>
                  <li>Case studies</li>
                </t-list>
              </li>
              <li>
                Volkerpsychologie: libro tungkol sa pagsusuri ni Wundt sa wika
                at kultura
              </li>
            </t-list>
          </li>
        </t-list>
      </div>
    </div>
  </t-section>

  <t-section>
    <t-heading [HeadingType]="'h2'">Schools of Psychology</t-heading>
    <t-container>
      <div class="flex flex-col border-4 border-black m-4 p-4 size-11/12">
        <t-heading [HeadingType]="'h3'">Structuralism</t-heading>
        <t-text class="pt-3"
          >Itinatag ni Titchener ang ideya na kailangang himay-himayin ang
          kamalayan sa mas maliliit na yunit upang maunawaan ang conscious
          experience. Ang sikolohiya, ayon sa kanya, ay may tatlong layunin:
          suriin ang istruktura ng karanasan, alamin ang proseso ng synthesis o
          kung paano nagsasama ang mga yunit upang mabuo ang isang mas malaking
          larawan ng karanasan, at ipaliwanag ang mga bayolohikal na proseso na
          kasangkot sa synthesis.</t-text
        >
      </div>

      <div class="flex flex-col border-4 border-black m-4 p-4 size-11/12">
        <t-heading [HeadingType]="'h3'">Functionalism</t-heading>
        <t-text class="pt-3"
          >Si William James ang pangunahing proponent ng teoryang kabaligtaran
          ng Structuralism. Ayon sa kanya, ang consciousness ay tuloy-tuloy at
          nakatuon sa pagtukoy kung paano at ano ang tungkulin nito sa
          tao.</t-text
        >
      </div>

      <div class="flex flex-col border-4 border-black m-4 p-4 size-11/12">
        <t-heading [HeadingType]="'h3'">Sikolohiyang Gestalt</t-heading>
        <t-text class="pt-3"
          >Sinulong nina Max Wertheimer, Kurt Koffka, at Wolfgang Köhler ang
          ideya na mas makabuluhang tingnan ang mga penomena bilang buo ang mga
          karanasan. Ayon sa kanila, naghahanap ang tao ng pattern sa mga
          sensasyon upang bigyan kahulugan ang isang buong karanasan, at mas
          ginagamit dito ang visual perception.</t-text
        >
      </div>

      <div class="flex flex-col border-4 border-black m-4 p-4 size-11/12">
        <t-heading [HeadingType]="'h3'">Sikodinamikong Perspektibo</t-heading>
        <t-text class="pt-3">
          Tinatag ni Sigmund Freud ang teorya na ang mga sintomas ng tao ay mga
          natitirang epekto ng partikular na traumatic na pangyayari. Mayroon
          itong kaugnayan sa mga malay at hindi malay na karanasan, kung saan
          madalas nire-repress ng isip ang mga traumatic na pangyayari upang
          hindi maging malay sa atin. Ang psychodynamic phase ay nabubuo sa
          ating kabataan, at maraming tao pa rin ang naniniwala sa kaisipang ito
          hanggang sa kasalukuyan.</t-text
        >
      </div>

      <div class="flex flex-col border-4 border-black m-4 p-4 size-11/12">
        <t-heading [HeadingType]="'h3'">Behabyorismo</t-heading>
        <t-text class="pt-3"
          >Ang layunin ng teoryang ito ay maging obhektibo, at nakatuon ito sa
          pag-predict at pagkontrol ng kilos o behavior. Dapat ang mga pag-aaral
          ay batay sa mga naaobserbahan at nasusukat na kilos, sa halip na sa
          mga internal na proseso ng isip. Isang halimbawa nito ay ang
          pagkondisyon ng aso sa tunog ng bell na nagiging indikasyon ng
          pagkain. Sa ganitong paraan, binibigyan ng kahulugan ng aso ang tunog
          ng bell bilang senyales ng dog food. Ang teoryang ito ay mahalaga sa
          pagkatuto at pagkukondisyon ng behavior.</t-text
        >
      </div>

      <div class="flex flex-col border-4 border-black m-4 p-4 size-11/12">
        <t-heading [HeadingType]="'h3'">Humanistikong perspektibo</t-heading>
        <t-text class="pt-3"
          >Naniniwala ang teoryang ito na may free will at free choice ang tao,
          at kaya niyang mag-self-actualize, na siyang pinakamataas na karanasan
          ng pagiging tao. Ibinabalik nito ang agency o kapangyarihan ng tao sa
          kanyang sarili, binibigyang-diin ang kakayahan ng bawat isa na hubugin
          ang sariling buhay at maabot ang kanyang buong potensyal.</t-text
        >
      </div>

      <div class="flex flex-col border-4 border-black m-4 p-4 size-11/12">
        <t-heading [HeadingType]="'h3'">Kognitibong perspektibo</t-heading>
        <t-text class="pt-3">Mental na proseso gaya sa memorya.</t-text>
      </div>

      <div class="flex flex-col border-4 border-black m-4 p-4 size-11/12">
        <t-heading [HeadingType]="'h3'">Sosyokultural na perspektibo</t-heading>
        <t-text class="pt-3"
          >Ang pananaw na ito ay tumuturing sa tao bilang produkto ng kanyang
          mga pakikitungo sa kapaligiran at ibang tao. Ang paraan ng kanyang
          pagkilos at pag-iisip ay nakabase sa kung paano siya nakikipag-ugnayan
          sa kanyang paligid at sa iba pang mga tao.</t-text
        >
      </div>

      <div class="flex flex-col border-4 border-black m-4 p-4 size-11/12">
        <t-heading [HeadingType]="'h3'"
          >Bayosikolohikal na perspektibo</t-heading
        >
        <t-text class="pt-3"
          >Kumikilala sa impluwensiya ng parehong bayolohikal at mental na
          proseso sa pagkilos at pag iisip ng tao.</t-text
        >
      </div>

      <div class="flex flex-col border-4 border-black m-4 p-4 size-11/12">
        <t-heading [HeadingType]="'h3'">Ebolusyonaryong perspektibo</t-heading>
        <t-text class="pt-3"
          >Ang pananaw na ito ay kumikilala sa impluwensiya ng parehong
          bayolohikal at mental na proseso sa pagkilos at pag-iisip ng tao.
          Ipinapakita nito na ang pag-uugali at kognisyon ng isang tao ay
          resulta ng interaksyon ng pisikal na aspeto ng katawan at ng mga
          mental na proseso.</t-text
        >
      </div>
    </t-container>
  </t-section>
</t-section>
